<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <title>Pembukuan Rumah Tangga</title>  

        <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
        <!--<link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">-->  
        <link rel="stylesheet" href="styles/onsen-css-components.min.css">  
        <link rel="stylesheet" href="styles/app.css"/>
        <link rel="stylesheet" href="css/index.css"/>

        <script src="lib/onsen/js/angular/angular.min.js"></script>    
        <script src="lib/onsen/js/onsenui.min.js"></script>    

        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/db.js"></script>
        <script src="js/model.js"></script>
        <script src="js/controller.js"></script>

        <script>
            var module = angular.module('app', ['onsen']);

            ons.ready(function () {
                menu.setSwipeable(false);
            })
        </script>
        <script src="js/app-angular.js"></script>
        <style>
            .page--menu-page__background {
                background-color: #333;
            }

            .page--menu-page__content {
                color: white;
            }

            .menu-close,
            .menu-close > .toolbar-button {
                color: #999;
            }

            .menu-list,
            .menu-item:first-child,
            .menu-item:last-child,
            .menu-item {
                background-color: transparent;
                background-image: none !important;
                border-color: transparent;
                color: #fff;
            }

            .menu-item {
                padding: 0 0 0 20px;
                line-height: 52px;
                height: 52px;
                text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
            }

            .menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

            .menu-notification {
                display: inline-block;
                margin-top: 12px;
                font-size: 14px;
                height: 16px;
                line-height: 16px;
                min-width: 16px;
                font-weight: 600;
            }

            .bottom-menu-list,
            .bottom-menu-item:first-child,
            .bottom-menu-item:last-child,
            .bottom-menu-item {
                border-color: #393939;
                background-color: transparent;
                background-image: none !important;
                color: #ccc;
            }

            .bottom-menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        </style>

    </head>

    <body>    

    <ons-sliding-menu
        menu-page="menu.html" main-page="login.html" side="left"
        var="menu" type="reveal" max-slide-distance="260px" swipable="true">
    </ons-sliding-menu>

    <ons-template id="login.html">
        <ons-page>
            <form id="login" ng-controller="logincontroller" ng-submit="doLogin()">
                <div class="login-form">
                    <img src="img/icon-96.png"/>
                    <section class="item">
                        <input name="email" type="email" class="text-input--underbar" placeholder="Email" id="email" ng-model="name">
                    </section>
                    <section class="item">
                        <input name="password" type="password" class="text-input--underbar" placeholder="Kata Sandi" id="password" ng-model="email">
                    </section>
                    <br><br>
                    <ons-button var="login_button" modifier="large" class="login-button" onclick="login()">Log In</ons-button>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    <br><br>
                    <ons-button modifier="quiet" class="forgot-password">Lupa kata sandi?</ons-button>
                    <ons-button modifier="quiet" class="forgot-password" onclick="setMainPage('register.html')">Daftar</ons-button>
                </div>
            </form>
            <ons-modal var="modal_loading_login">
                <ons-icon icon="ion-loading-c" spin="true" ></ons-icon>
            </ons-modal>
        </ons-page>
    </ons-template>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('dashboard.html', {closeMenu: true})">
                    <ons-icon icon="fa-home"></ons-icon>
                    Dashboard
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('tambah_pemasukan.html', {closeMenu: true})">
                    <ons-icon icon="fa-plus"></ons-icon>
                    Tambah Pemasukan
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('tambah_pengeluaran.html', {closeMenu: true})">
                    <ons-icon icon="fa-minus"></ons-icon>
                    Tambah Pengeluaran
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('laporan.html', {closeMenu: true})">
                    <ons-icon icon="fa-bar-chart"></ons-icon>
                    Laporan
                </ons-list-item>
            </ons-list>

            <br>

            <ons-list class="bottom-menu-list">
                <!--                                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
                                                    Settings
                                                    <div class="notification menu-notification">3</div>
                                                </ons-list-item>
                                
                                                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
                                                    Help
                                                </ons-list-item>-->

                <ons-list-item class="bottom-menu-item" onclick="setMainMenu('tambahAnggota.html')">
                    Tambah anggota
                </ons-list-item>
                <ons-list-item class="bottom-menu-item" onclick="logout()">
                    Logout
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    <ons-template id="register.html">
        <ons-page>
            <ons-toolbar>
                <div class="left"></div>
                <div class="center">Pendaftaran</div>
                <div class="right"><ons-back-button onclick="setMainPage('login.html')">Back</ons-back-button></div>
            </ons-toolbar>
            <div class="content">
                <form id="register" ng-submit="doRegister()" ng-controller="registercontroller">
                    <section class="item">
                        <input name="email" type="text" class="text-input--underbar" placeholder="Email">
                    </section>
                    <section class="item">
                        <input name="password" type="password" class="text-input--underbar" placeholder="Kata sandi">
                    </section>
                    <section class="item">
                        <input name="repeat_password" type="password" class="text-input--underbar" placeholder="Ulangi kata sandi">
                    </section>
                    <section class="item">
                        <input name="nama_depan" type="text" class="text-input--underbar" placeholder="Nama Depan">
                    </section>
                    <section class="item">
                        <input name="nama_belakang" type="text" class="text-input--underbar"  placeholder="Nama Belakang">
                    </section>
                    <section class="item">
                        <input name="alamat" type="text" class="text-input--underbar"  placeholder="Alamat">
                    </section>

                    <section class="item">
                        <br><br>
                        <ons-button var="register_button" modifier="medium" onclick="register()">Daftar</ons-button>
                    </section>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
            </div>
        </ons-page>
    </ons-template>
    <ons-template id="dashboard.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Dashboard</div>
                <div class="right"></div>
            </ons-toolbar>
        </ons-page>
    </ons-template>
    <ons-template id="tambah_pemasukan.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Tambah Pemasukan</div>
                <div class="right"></div>
            </ons-toolbar>
            <div class="content">
                <form id="pemasukan">
                    <section class="item">
                        <input name="jumlah" type="text" class="text-input--underbar" placeholder="Jumlah pemasukan">
                    </section>

                    <section class="item">
                        <div>
                            <select name="kategori" class="text-input--underbar">
                                <option value="empty">-- Pilih Kategori --</option>
                                <option>Gaji</option>
                                <option>dll</option>
                            </select>
                        </div>
                    </section>

                    <section class="item">
                        <textarea name="deskripsi" class="textarea textarea--transpanret" placeholder="Deskripsi"></textarea>
                    </section>

                    <section class="item">
                        <input name="tanggal" type="date" class="text-input--underbar" />
                    </section>

                    <section class="item">
                        <br><br>
                        <ons-button modifier="medium" onclick="simpan('pemasukan')">Simpan</ons-button>
                    </section>

                </form>
            </div>
        </ons-page>
    </ons-template>
    <ons-template id="tambah_pengeluaran.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Tambah Pengeluaran</div>
                <div class="right"></div>
            </ons-toolbar>
            <div class="content">
                <form id="pengeluaran">
                    <section class="item">
                        <input name="jumlah" type="text" class="text-input--underbar" placeholder="Jumlah pengeluaran">
                    </section>

                    <section class="item">
                        <div>
                            <select name="kategori" class="text-input--underbar">
                                <option value="empty">-- Pilih Kategori --</option>
                                <option>Makanan</option>
                                <option>Minuman</option>
                                <option>Bahan Bakar</option>
                                <option>dll</option>
                            </select>
                        </div>
                    </section>

                    <section class="item">
                        <textarea name="deskripsi" class="textarea textarea--transpanret" placeholder="Deskripsi"></textarea>
                    </section>

                    <section class="item">
                        <input name="tanggal" type="date" class="text-input--underbar" />
                    </section>

                    <section class="item">
                        <br><br>
                        <ons-button modifier="medium" onclick="simpan('pengeluaran')">Simpan</ons-button>
                    </section>
            </div>
        </ons-page>
    </ons-template>

    <ons-template id="laporan.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Laporan</div>
                <div class="right"></div>
            </ons-toolbar>
            <div>

            </div>
        </ons-page>
    </ons-template>
    <ons-template id="tambahAnggota.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Laporan</div>
                <div class="right"></div>
            </ons-toolbar>
            <div>

            </div>
        </ons-page>
    </ons-template>

</body>
</html>
