<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <title>Pembukuan Rumah Tangga</title>  

        <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
        <!--<link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">-->  
        <link rel="stylesheet" href="styles/onsen-css-components.min.css">  
        <link rel="stylesheet" href="styles/app.css"/>
        <link rel="stylesheet" href="css/index.css"/>

        <script src="lib/onsen/js/angular/angular.min.js"></script>    
        <script src="lib/onsen/js/onsenui.min.js"></script>    

        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/db.js"></script>
        <script src="js/model.js"></script>
        <script src="js/controller.js"></script>

        <script>
            var module = angular.module('app', ['onsen']);
        </script>
        <script src="js/app-angular.js"></script>
        <style>
            .page--menu-page__background {
                background-color: #333;
            }

            .page--menu-page__content {
                color: white;
            }

            .menu-close,
            .menu-close > .toolbar-button {
                color: #999;
            }

            .menu-list,
            .menu-item:first-child,
            .menu-item:last-child,
            .menu-item {
                background-color: transparent;
                background-image: none !important;
                border-color: transparent;
                color: #fff;
            }

            .menu-item {
                padding: 0 0 0 20px;
                line-height: 52px;
                height: 52px;
                text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
            }

            .menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

            .menu-notification {
                display: inline-block;
                margin-top: 12px;
                font-size: 14px;
                height: 16px;
                line-height: 16px;
                min-width: 16px;
                font-weight: 600;
            }

            .bottom-menu-list,
            .bottom-menu-item:first-child,
            .bottom-menu-item:last-child,
            .bottom-menu-item {
                border-color: #393939;
                background-color: transparent;
                background-image: none !important;
                color: #ccc;
            }

            .bottom-menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        </style>

    </head>

    <body>    

    <ons-sliding-menu
        menu-page="menu.html" main-page="loading.html" side="left"
        var="menu" type="reveal" max-slide-distance="260px" swipable="true">
    </ons-sliding-menu>

    <ons-template id="loading.html">
        <ons-page>
            <div class="content">
                <div style="margin-top:160px"><ons-icon icon="spinner" size="40px" spin="true"  fixed-width="true"></ons-icon></div>
            </div>
        </ons-page>
    </ons-template>

    <ons-template id="login.html">
        <ons-page>
            <form id="login" ng-controller="logincontroller" ng-submit="doLogin()">
                <div class="login-form">
                    <img src="img/icon-96.png"/>
                    <section class="item">
                        <input name="email" type="email" class="text-input--underbar" placeholder="Email" id="email" ng-model="name">
                    </section>
                    <section class="item">
                        <input name="password" type="password" class="text-input--underbar" placeholder="Kata Sandi" id="password" ng-model="email">
                    </section>
                    <br><br>
                    <ons-button var="login_button" modifier="large" class="login-button" onclick="login()">Log In</ons-button>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    <br><br>
                    <ons-button modifier="quiet" class="forgot-password">Lupa kata sandi?</ons-button>
                    <ons-button modifier="quiet" class="forgot-password" onclick="setMainPage('register.html')">Daftar</ons-button>
                </div>
            </form>
            <ons-modal var="modal_loading_login">
                <ons-icon icon="ion-loading-c" spin="true" ></ons-icon>
            </ons-modal>
        </ons-page>
    </ons-template>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('dashboard.html', {closeMenu: true})">
                    <ons-icon icon="fa-home"></ons-icon>
                    Dashboard
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('tambah_pemasukan.html', {closeMenu: true})">
                    <ons-icon icon="fa-plus"></ons-icon>
                    Tambah Pemasukan
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('tambah_pengeluaran.html', {closeMenu: true})">
                    <ons-icon icon="fa-minus"></ons-icon>
                    Tambah Pengeluaran
                </ons-list-item>
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('transfer.html', {closeMenu: true})">
                    <ons-icon icon="fa-refresh"></ons-icon>
                    Transfer
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('laporan.html', {closeMenu: true})">
                    <ons-icon icon="fa-bar-chart"></ons-icon>
                    Laporan
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('anggota.html', {closeMenu: true})">
                    <ons-icon icon="fa-user"></ons-icon>
                    Anggota
                </ons-list-item>
            </ons-list>

            <br>

            <ons-list class="bottom-menu-list">
                <ons-list-item class="bottom-menu-item" onclick="setMainPage('kategori.html')">
                    Kategori Transaksi
                </ons-list-item>
                <ons-list-item class="bottom-menu-item" onclick="logout()">
                    Logout
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    <ons-template id="register.html">
        <ons-page on-device-backbutton="setMainPage('login.html')">
            <ons-toolbar>
                <div class="left"><ons-back-button onclick="setMainPage('login.html')"></ons-back-button></div>
                <div class="center">Pendaftaran</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class="content-list text-center">
                <form id="register" ng-submit="doRegister()" ng-controller="registercontroller">
                    <section class="item">
                        <input name="email" type="email" class="text-input--underbar" placeholder="Email">
                    </section>
                    <section class="item">
                        <input name="password" type="password" class="text-input--underbar" placeholder="Kata sandi">
                    </section>
                    <section class="item">
                        <input name="repeat_password" type="password" class="text-input--underbar" placeholder="Ulangi kata sandi">
                    </section>
                    <section class="item">
                        <input name="nama" type="text" class="text-input--underbar" placeholder="Nama Lengkap">
                    </section>

                    <section class="item">
                        <br><br>
                        <ons-button var="register_button" modifier="medium" onclick="register()">Daftar</ons-button>
                    </section>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
            </ons-scroller>
    </ons-template>
    <ons-template id="dashboard.html"  >
        <ons-page ng-controller="dashboardcontroller" 
                  ng-init="init()">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Dashboard</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class="content-list">
                <ons-list class="list">
                    <ons-list-item class='list__item'><span class="list__right-label">{{numberService.formatAngka(total_pemasukan)}}</span>Pemasukan</ons-list-item>
                    <ons-list-item class='list__item'><span class="list__right-label">{{numberService.formatAngka(total_pengeluaran)}}</span>Pengeluaran</ons-list-item>
                    <ons-list-item class='list__item'><span class="list__right-label" ng-class="numberService.getColor(total)">{{numberService.formatAngka(total)}}</span>Total</ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-template>
    <ons-template id="tambah_pemasukan.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Tambah Pemasukan</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class="content-list text-center">
                <form id="pemasukan">
                    <section class="item">
                        <input name="jumlah" type="text" class="text-input--underbar" placeholder="Jumlah pemasukan">
                    </section>

                    <section class="item">
                        <div>
                            <select name="kategori" class="text-input--underbar">
                                <option value="empty">-- Pilih Kategori --</option>
                                <option value="1">Gaji</option>
                                <option value="2">Jualan</option>
                            </select>
                        </div>
                    </section>

                    <section class="item">
                        <textarea name="deskripsi" class="textarea textarea--transpanret" placeholder="Deskripsi"></textarea>
                    </section>

                    <section class="item">
                        <input name="tanggal" type="date" class="text-input--underbar" />
                    </section>

                    <section class="item">
                        <br><br>
                        <ons-button modifier="medium" onclick="simpan('pemasukan')">Simpan</ons-button>
                    </section>

                </form>
            </ons-scroller>
        </ons-page>
    </ons-template>
    <ons-template id="tambah_pengeluaran.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Tambah Pengeluaran</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class="content-list text-center">
                <form id="pengeluaran">
                    <section class="item">
                        <input name="jumlah" type="text" class="text-input--underbar" placeholder="Jumlah pengeluaran">
                    </section>

                    <section class="item">
                        <div>
                            <select name="kategori" class="text-input--underbar">
                                <option value="empty">-- Pilih Kategori --</option>
                                <option value="3">Makanan</option>
                                <option value="4">Minuman</option>
                            </select>
                        </div>
                    </section>

                    <section class="item">
                        <textarea name="deskripsi" class="textarea textarea--transpanret" placeholder="Deskripsi"></textarea>
                    </section>

                    <section class="item">
                        <input name="tanggal" type="date" class="text-input--underbar" />
                    </section>

                    <section class="item">
                        <br><br>
                        <ons-button modifier="medium" onclick="simpan('pengeluaran')">Simpan</ons-button>
                    </section>
                </form>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="laporan.html">
        <ons-page ng-controller="laporancontroller" ng-init="rentangBulanan()">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Laporan</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class="content-list text-center">
                <section class="item">
                    <select name="kategori" class="text-input--underbar" ng-options="jenis for jenis in jeniswaktu" ng-model="selectedJenis" ng-change="gantirentang()">
                    </select>
                </section>
                <section class="item">
                    <select name="kategori" class="text-input--underbar" ng-options="rentang for rentang in rentangwaktu" ng-model="selectedRentang">
                    </select>
                </section>
                <section class="item">
                    <br><br>
                    <ons-button modifier="medium" ng-click="tampillaporan()">Tampilkan</ons-button>
                </section>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="laporanDetail.html">
        <ons-page ng-controller="laporandetailcontroller" ng-init="fetchLaporan()">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-back-button onclick="setMainPage('laporan.html')">Back</ons-back-button>
                    </ons-toolbar-button>
                </div>
                <div class="center" ng-bind="judul_laporan"></div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class="content-list">
                <ons-list class="" ng-repeat="entity_laporan in entity_laporan_list">
                    <ons-list-header class="text-center">{{entity_laporan.nama}}</ons-list-header>
                    <ons-list-item class='list__item'><span class="list__right-label" ng-class="numberService.getColorPemasukan(entity_laporan.pemasukan)">{{numberService.formatAngka(entity_laporan.pemasukan)}}</span>Pemasukan</ons-list-item>
                    <ons-list-item class='list__item'><span class="list__right-label" ng-class="numberService.getColorPengeluaran(entity_laporan.pengeluaran)">{{numberService.formatAngka(entity_laporan.pengeluaran)}}</span>Pengeluaran</ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="tambahAnggota.html">
        <ons-page ng-controller="tambahanggotacontroller">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button onclick="setMainPage('anggota.html')"></ons-back-button>
                </div>
                <div class="center">Tambah Anggota</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class='content-list text-center' >
                <form ng-submit="kirim()">
                    <section class="item">
                        <select ng-model="formData.jenis_anggota_id" class="text-input--underbar">
                            <option ng-repeat="jenis in jenisanggota" value="{{jenis.id}}">{{jenis.name}}</option>
                        </select>
                    </section>
                    <section class="item">
                        <select ng-model="formData.hubungan_anggota_id" class="text-input--underbar">
                            <option ng-repeat="hubungan in hubungananggota" value="{{hubungan.id}}">{{hubungan.name}}</option>
                        </select>
                    </section>
                    <section class="item">
                        <input ng-model="formData.email" name="email" type="email" class="text-input--underbar" placeholder="Email"/>
                    </section>
                    <section class="item">
                        <input ng-model="formData.password" name="password" type="password" class="text-input--underbar" placeholder="Kata sandi"/>
                    </section>
                    <section class="item">
                        <input ng-model="formData.repeat_password" name="repeat_password" type="password" class="text-input--underbar" placeholder="Ulangi kata sandi"/>
                    </section>
                    <section class="item">
                        <input ng-model="formData.nama" name="nama_depan" type="text" class="text-input--underbar" placeholder="Nama lengkap"/>
                    </section>
                    <section class="item">
                        <br><br>
                        <ons-button var="tambah_anggota_button" modifier="medium" ng-click="kirim()">Daftar</ons-button>
                    </section>
                    <input ng-model="formData.rumah_tangga_id" name="rumah_tangga_id" type="hidden"/>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="transfer.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Transfer Dana</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class='content-list text-center' >
                <form>
                    <section class="item">
                        <select name="transfer_tujuan" class="text-input--underbar">
                            <option>-- Tujuan Transfer --</option>
                            <option>Andreas</option>
                            <option>Stella</option>
                            <option>Melinda</option>
                            <option>Muhamad</option>
                        </select>
                    </section>
                    <section class="item">
                        <input name="transfer_jumlah" type="text" class="text-input--underbar" placeholder="Jumlah transfer"/>
                    </section>
                    <section class="item">
                        <br><br>
                        <ons-button var="transfer_dana" modifier="medium" >Kirim</ons-button>
                    </section>
                </form>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="kategori.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Kategori Transaksi</div>
                <div class="right">
                    <ons-toolbar-button>
                        <ons-icon icon="fa-plus" style="font-size: 26px; width: 1em" onclick="setMainPage('tambahKategori.html')">
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <ons-scroller class='content-list text-center'>
                <ons-list class="text-center">
                    <ons-list-header class="text-center">Pemasukan</ons-list-header>
                    <ons-list-item>Gaji</ons-list-item>
                    <ons-list-item>Jualan</ons-list-item>
                </ons-list>
                <br/>
                <br/>
                <br/>
                <ons-list class="text-center">
                    <ons-list-header class="text-center">Pengeluaran</ons-list-header>
                    <ons-list-item>Makanan</ons-list-item>
                    <ons-list-item>Minuman</ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="tambahKategori.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-back-button onclick="setMainPage('kategori.html')"></ons-back-button>
                    </ons-toolbar-button>
                </div>
                <div class="center">Tambah Kategori</div>
                <div class="right"></div>
            </ons-toolbar>
            <ons-scroller class='content-list text-center' >
                <form>
                    <section class="item">
                        <select name="tambah_kategori_jenis_kategori" class="text-input--underbar">
                            <option>-- Jenis Kategori --</option>
                            <option>Pemasukan</option>
                            <option>Penjualan</option>
                        </select>
                    </section>
                    <section class="item">
                        <input name="tambah_kategori_nama" type="text" class="text-input--underbar" placeholder="Nambah Katagori"/>
                    </section>
                    <section class="item">
                        <br><br>
                        <ons-button var="tambah_kategori" modifier="medium" >Tambah</ons-button>
                    </section>
                </form>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="anggota.html">
        <ons-page ng-controller="anggotacontroller" ng-init="init()">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em" ng-click="menu.toggleMenu()">
                    </ons-toolbar-button>
                </div>
                <div class="center">Anggota</div>
                <div class="right">
                    <ons-toolbar-button>
                        <ons-icon icon="fa-plus" style="font-size: 26px; width: 1em" onclick="setMainPage('tambahAnggota.html')">
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <ons-scroller class='content-list'>
                <ons-list>
                    <ons-list-item ng-repeat="anggota in anggotas" class='list__item' modifier="tappable" ng-click="detail(anggota.id)"><span class="list__right-label">{{anggota.HubunganAnggota.nama}}</span>{{anggota.nama}}</ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="editAnggota.html">
        <ons-page ng-controller="editanggotacontroller" ng-init="init()">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button>
                        <ons-back-button onclick="setMainPage('anggota.html')"></ons-back-button>
                    </ons-toolbar-button>
                </div>
                <div class="center">Muhamad</div>
                <div class="right">
                </div>
            </ons-toolbar>
            <ons-scroller class='content-list'>
                <ons-list class="list">
                    <ons-list-item class='list__item'><span class="list__right-label">10.000.000</span>Pemasukan</ons-list-item>
                    <ons-list-item class='list__item'><span class="list__right-label">2.500.000</span>Pengeluaran</ons-list-item>
                    <ons-list-item class='list__item'><span class="list__right-label green">7.500.000</span>Total</ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-template>

    <ons-template id="profilRumahTangga.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                </div>
                <div class="center">Profil Rumah Tangga</div>
                <div class="right">
                </div>
            </ons-toolbar>
            <ons-scroller class='content-list text-center'>
                <form id="profilRumahTangga">
                    <section class="item">
                        <input name="nama" type="text" class="text-input--underbar" placeholder="Nama Keluarga"/>
                    </section>
                    <section class="item">
                        <input name="alamat" type="text" class="text-input--underbar" placeholder="Alamat"/>
                    </section>
                    <section class="item">
                        <textarea name="deskripsi" class="textarea textarea--transpanret" placeholder="Deskripsi"></textarea>
                    </section>
                    <input type="hidden" value="1" name="setup_up"/>
                    <section class="item">
                        <br><br>
                        <ons-button modifier="medium" onclick="simpanProfilRumahTangga()">Simpan</ons-button>
                    </section>
                </form>
            </ons-scroller>
        </ons-page>
    </ons-template>
</body>
</html>
